* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;

}

body {
    padding-top: 7%;
}

.container {
    background-color: var(--base3);
}

.navbar {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: var(--base1);
    justify-content: center;
    padding: 1rem 1rem;
    max-width: 1110px;
    margin: 0 auto;
}

.resWeb-type,
.web-details {
    border-bottom: 1px solid grey;
    color: #a9022e;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2%;
    padding-bottom: 1%;
}

.btn-resWebType {
    margin-top: 15px;

}

.option-title {
    font-weight: bold;
    padding: 2% 1% 0 0;
    color: var(--base2);
}

p:not(.resWebTypeDes) {
    margin-left: inherit;
}

p {
    width: 80%;
    text-align: justify;
    font-size: 18px;
}


.select-color {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    height: 40px;
    border-radius: .25rem;
    margin-bottom: 15px;
    width: 80%;
    padding: 10px;
    font-weight: 500;
}

.btn-danger {
    margin-bottom: 15px;
    background-color: #a9022e;
}

.resWeb-type,
.web-details {
    border-bottom: 1px solid grey;
    color: #a9022e;
    ;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group {
    width: 100%;
}

.resWeb-type,
.web-details {
    border-bottom: 1px solid grey;
    color: #a9022e;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}


a,
a:hover {
    color: #a9022e;
}

img {
    max-width: 100%;
}

.img-colorPicker {
    width: 80%;
    margin-bottom: 15px;
}

.row {
    margin-bottom: 15px;
}

span{
    font-weight: bold;
}
span::before{
    content: "<"
}
span::after{
    content: ">"
}

a.show-presentation {
    width: 90%;
    height: 50px;
    margin: 20px 0px;
    background: #a9022e url(../sources/img/icon-resize.png) no-repeat 256px center;
    background: #a9022e url(../images/virgo/icon-resize.png) no-repeat 256px center;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 50px;
    text-align: center;
    display: block;
}


.form-check-label--M,
.form-check-label--N,
.form-check-label--P,
.form-check-label--R {
    filter: brightness(1.5) grayscale(1) opacity(.7);
    color: #a9022e;
}

.form-check-label--M:hover,
.form-check-label--N:hover,
.form-check-label--P:hover,
.form-check-label--R:hover {
    filter: none;
}


input[type="radio"] {
    display: none;
}
/* 
.form-check-label{
    border: 2px solid none;
    padding: 5%;
  } */

input[type="radio"]:checked+label {
    background-color: #a9022e;
    opacity: 0, 5;
    filter: none;
    padding: 5%;
}  

.form-check-label--M {
    background-image: url(../sources/img/templatem.jpg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 225px;
    height: 135px;
    cursor: pointer;

}


.form-check-label--N {
    background-image: url(../sources/img/templaten.jpg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 225px;
    height: 135px;
    cursor: pointer;

}


.form-check-label--P {
    background-image: url(../sources/img/templatep.jpg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 225px;
    height: 135px;
    cursor: pointer;

}

.form-check-label--R {
    background-image: url(../sources/img/templater.jpg);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 225px;
    height: 135px;
    cursor: pointer;

}

label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: 4%;
    font-size: 1.1rem;
}

label[for=base3] {
    margin-right: 11.5%;
}


.web-type {
    margin-top: 30px;
}

input[type="color"] {
    width: 64px;
    cursor: pointer;
}

:root {
    --base1: #a9022e;
    --base2: #212529;
    --base3: #fff;
}

label[for=base1] {
    color: var(--base1);
}

label[for=base2] {
    color: var(--base2);
}

@media(min-width:768px) and (max-width:991px) {

    a.show-presentation {
        width: 70%;
        height: 50px;
        margin: 20px 0px;
        background: #a9022e url(../sources/img/icon-resize.png) no-repeat 256px center;
        background: #a9022e url(../images/virgo/icon-resize.png) no-repeat 256px center;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        line-height: 50px;
        text-align: center;
        display: block;
    }

    body {
        padding-top: 15%;
    }

    label[for=base3] {
        margin-right: 17.5%;
    }

}


@media(max-width:767px) {
    a.show-presentation {
        width: 47%;
        height: 50px;

        background: #a9022e url(../sources/img/icon-resize.png) no-repeat 256px center;
        background: #a9022e url(../images/virgo/icon-resize.png) no-repeat 256px center;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        line-height: 50px;
        text-align: center;
        display: inline-block;
    }
    label[for=base3] {
        margin-right: 19.5%;
    }
}

@media(max-width:360px) {
    .navbar {
        font-size: 1.4rem;
        font-weight: bold;
        color: white;
        background-color: #a9022e;
        justify-content: center;
        padding: 1rem 1rem;
        max-width: 1110px;
        margin: 0 auto;
    }

    body {
        padding-top: 26%;
    }

    a.show-presentation {
        width: 76%;
        height: 50px;
        background: #a9022e url(../sources/img/icon-resize.png) no-repeat 256px center;
        background: #a9022e url(../images/virgo/icon-resize.png) no-repeat 256px center;
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        line-height: 50px;
        text-align: center;
        display: inline-block;
    }

    label[for=base3] {
        margin-right: 19.5%;
    }

    label[for=base1] {
        margin-right: 12%;
    }
}